:root {
  --combat-tracker-extensions-disposition-friendly:forestgreen;  
  --combat-tracker-extensions-disposition-neutral:gold;
  --combat-tracker-extensions-disposition-hostile:darkred;
  --combat-tracker-extensions-disposition-secret:indigo;
  
  --combat-tracker-extensions-disposition-friendly-transparent:rgba(67, 223, 223, 0.3);
  --combat-tracker-extensions-disposition-neutral-transparent:rgba(241, 216, 54, 0.3);
  --combat-tracker-extensions-disposition-hostile-transparent:rgba(231, 33, 36, 0.3);
  --combat-tracker-extensions-disposition-secret-transparent:rgba(166, 18, 212, 0.3);
}
.token-initiative input {
  color: white;
}


.combat-sidebar li.combatant .token-name .combat-tracker-extensions-combatant-control {
  flex: 0 0 20px;
  height: 20px;
  float: left;
  color: var(--color-text-dark-5);
}

.combat-sidebar li.combatant .token-name .combat-tracker-extensions-combatant-control.active {
  color: var(--color-text-light-1);
}

.combat-sidebar li.combat-tracker-extensions-phase .combat-tracker-extensions-phase h3 {
  margin: 13px 0px 13px 7px;
  border-style: none;
  text-align: center;
  font-size: var(--font-size-16);
}
.combat-sidebar li.combat-tracker-extensions-phase{
  border-top: 2px groove var(--color-border-dark-4);
  border-bottom: 2px groove var(--color-border-dark-4);
}


.combat-sidebar li.combatant.combat-tracker-extensions-disposition-friendly{
  background-color: var(--combat-tracker-extensions-disposition-friendly-transparent);
}
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-neutral{
  background-color: var(--combat-tracker-extensions-disposition-neutral-transparent);
}
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-hostile{
  background-color: var(--combat-tracker-extensions-disposition-hostile-transparent);
}
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-secret{
  background-color: var(--combat-tracker-extensions-disposition-secret-transparent);
}


    
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-friendly.hover,
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-friendly:hover { 
  background-color: var(--combat-tracker-extensions-disposition-friendly);
}
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-neutral.hover,
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-neutral:hover { 
  background-color: var(--combat-tracker-extensions-disposition-neutral);
}
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-hostile.hover,
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-hostile:hover { 
  background-color: var(--combat-tracker-extensions-disposition-hostile);
}
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-secret.hover,
.combat-sidebar li.combatant.combat-tracker-extensions-disposition-secret:hover { 
  background-color: var(--combat-tracker-extensions-disposition-secret);
}



#context-menu > ol > li.context-group > ol > li:nth-child(1){
	border-top:1px solid var(--color-border-dark-4);
}

.combat-tracker-extensions-icon-btn{  
  line-height: 26px;
  margin-left: 3px;
  font-size: 16px;
}

.combat-tracker-extensions-icon{  
  line-height: 26px;
  margin-left: 3px;
  font-size: 16px;
}


.combat-tracker-extensions-icon-btn:hover{
  cursor: pointer;
  text-shadow: 0 0 8px var(--color-shadow-primary);;
} 

.combat-tracker-extensions-phase-editor-data-thead>tr>th{
  text-align:left;
}

.combat-tracker-extensions-phase-editor-cell-manipulator{
  width:60px;
}
.combat-tracker-extensions-phase-editor-data-container{
  height: calc(100% - 80px);
}